:host {
  display: block;
}

button {
  @apply bg-blue-600 text-white;
  @apply m-2 p-4 pt-2 pb-2;
  @apply border-none;
  @apply text-sm font-bold uppercase;
  @apply rounded;
  @appy shadow;
  @appy outline-none;
  @apply tracking-wider;
  @apply transition-all;
  @apply cursor-pointer;
}

p {
  @apply font-mono px-10;
}
