.app-focus {
  padding: 10px;
}

p {
  @apply font-mono;
}

button {
  @apply bg-blue-600 text-white;
  @apply m-2 p-4 pt-2 pb-2;
  @apply border-none;
  @apply text-sm font-bold uppercase;
  @apply rounded;
  @appy shadow;
  @appy outline-none;
  @apply tracking-wider;
  @apply transition-all;
  @apply cursor-pointer;
}

button:hover {
  @appy shadow-sm;
  @apply transform translate-y-px;
}

input {
  @apply m-1;
}
